/* UTILITIES */
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/* Home */
.home-container {
    margin: 50px;
}
.home-logo {
    display: block;
    margin: auto;
    width: 300px;
}

.home-description {
    color: white;
    text-align: center;  
}

.home-button {
    background: rgb(37, 37, 243);
    border-radius: 5px;
    color: white;
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin: auto;
    padding: 5px;
    width: 80px;
}


/* NavBar*/
.navbar {
    align-items: center;
    background-color: rgb(252, 221, 14);
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.nav-links a {
    color: rgb(4, 4, 4);
    padding: 20px;
}

nav a.active {
    background-color: rgba(233, 204, 15, 0.923);
    border-radius: 10px;
}

/* LOGO */
.logo {
    margin: 0px 0px 0px 10px;
    width: 175px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    font-size: 18px;
    gap: 1em;
}

.menu li {
    padding: 5px 14px;
}


/* LegoForm */
.lego-image {
    display: block;
    margin: auto;
    width: 450px;
}
.built {
    color:rgb(255, 255, 255);
    font-size: 19px;
    font-weight: bold;
}

form {
    text-align: center;
}


/*LegoList*/
.card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px
}

.search-container {
    margin: auto;
    padding: 50px;
}

.list-button {
    background: rgb(37, 37, 243);
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 4px;
    width: 80px;
    vertical-align: middle
}

.input {
    font-size: 18px;
    width:200px;
}

.sort-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.sort {
    color: white;
}

.sort-bttn {
    background: rgb(37, 37, 243);
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    width: 80px;
    display: inline;
    margin: 0 auto;
}


/* LegoSet*/
.card {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 15px 15px;
    transition: 0.3s;
    width: 300px;
}

.card:hover {
    box-shadow: 0 4px 6px 6px rgb(227, 209, 73);
}

.container {
    padding: 2px 16px;
}

.card-img {
    border-radius: 20px;
    width:300px;
}

.image-container {
    height: 350px
}

.set-name {
    text-align: center;
}

.details-bttn {
    background: rgb(37, 37, 243);
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin: 38px;
    padding: 5px;
    vertical-align: middle;
    width: 80px;
}

.trash-bttn {
    background: rgb(37, 37, 243);
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;;
    padding: 7px;
    vertical-align: middle;
    width: 80px;
}