/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Home */

.home-logo {
    width: 300px;
}

.home-description {
    color: white;
    text-align: center;
    
}

.home-button {
    background: rgb(255, 234, 46);
    border-radius: 5px;
    display: block;
    margin: auto;
    padding: 5px;
    width: 80px;
}

/* NavBar*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(255, 221, 0);
    color: #fff;
}

.nav-links a {
    color: rgb(4, 4, 4);
}

/* LOGO */
.logo {
    margin: 0px 0px 0px 10px;
    width: 175px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

/* .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
} */

.menu li {
    padding: 5px 14px;
}


/* LegoForm */
img {
    display: block;
    margin: auto;
}

form {
    text-align: center;
}

/* LegoSet*/
.card {
    /* Add shadows to create the "card" effect */
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 15px 15px;
    transition: 0.3s;
    width: 300px;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 4px 6px 6px rgb(227, 209, 73);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.card-img {
    border-radius: 20px;
    width:300px;
}